.ds-c-button--transparent[disabled] {
  background-color: transparent;
  border: 1px solid transparent;
  opacity: 0.5;
}

.ds-c-button {
  &:not(.ds-c-button--primary):not(.ds-c-button--transparent):not(.ds-c-button--inverse):not([disabled]) {
    border-color: #205493;
    color: #205493;
  }
}
