<button button-focus 
        [modalFocus]="modalFocus"
        [buttonFocus]="buttonFocus"
    type="button"
    id="{{buttonID}}"
    (click)="callBackFunction($event)" 
    (keyup.enter)="callBackFunction($event)" 
    attr.aria-label="{{ ariaLabel }}"
    class="ds-c-button pointer"
    [ngClass]="buttonType">
        <ng-container *ngIf="abbr; else normal">
            {{ abbr }}
        </ng-container>
        <ng-template #normal>
            {{content}}
        </ng-template>
    <img *ngIf="image" src="{{ image }}" [ngClass]="imageClass" style="float:left;"/>
</button>
