.ds-c-dialog-wrap {
    overflow: hidden;
    padding: 0;
}

.focus-trap-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.floatRight {
    float: right;
}

h1 {
    text-transform: capitalize;
}

.close {
    display: none;
}


.tableClass {
    display:table;
    height: 100%;
    width: 100%;
}

.cellClass {
    display:table-cell;
    vertical-align: middle;
}

.ds-c-dialog {
    max-height: 100vh;
    overflow-y:auto;
}

.modal-header-content {
  flex: 1;

  ::ng-deep {
    // Override to ensure the first element (which will likely be a header element) doesn't have the default space
    // at the top, so that it aligns with the close button
    :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.modal-header-close-button {
  ::ng-deep {
    button {
      text-decoration: none;
    }
  }
}
