<ng-container *ngFor="let data of shadowArray; let i = index">
    <th *ngIf="data.key === 'row_Header'" 
        scope="row" 
        app-table-data 
            [dataClass]="'rowHeader'" 
            [data] = "data" 
            [index]="index + '_' + i"
            [searchText]="searchText"
            [highlightSearch]="highlightSearch"
            (callBack)="callBack($event)"
            tabindex="0"></th>
    
    <td *ngIf="data.key !== 'row_Header'" 
        [attr.data-column-header]="data.header" 
        app-table-data 
            [dataClass]="'columnCell'" 
            [data] = "data" 
            [index]="index + '_' + i"
            [searchText]="searchText"
            [highlightSearch]="highlightSearch"
            (callBack)="callBack($event)"
            tabindex="0"></td>
</ng-container>
