<div class="table-background ds-c-table--borderless">
    <table summary="{{ tableSummary }}" role="grid" [attr.aria-label]="tableTitle">
        <caption *ngIf="tableTitle" class="tableHeading">
            {{ tableTitle }}
            <ng-container *ngIf="reportingPeriod">
                <span class="reportingPeriodShell">{{reportingPeriod}}</span>
            </ng-container>
            <ng-container *ngIf="starRating">
                <br>
                <span class="starRatingShell">
                    <app-star-rating [rating]="starRating" [width]="'18px'" [height]="'18px'"></app-star-rating>
                </span>
            </ng-container>
            <ng-container *ngIf="linearScore">
                <span class="linearScoreShell">{{linearScore}}</span>
            </ng-container>
        </caption>
        <thead *ngIf="headers" class="tableHeading">
            <tr>
                <th *ngFor="let header of headers; let i = index" title="{{header.header.value}}"
                    app-table-header
                        [asc]="asc"
                        [header]="header"
                        [selected]="selected"
                        (onHeaderClick)="passHeaderEvent($event)"
                    scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let dataRow of dataRows | sorting: headerEvent | filter: searchText | paginate: { itemsPerPage: maxRows, currentPage: p, id: index }; let x = index;">
                <tr *ngIf="dataRow" 
                    [attr.data-auto-id]="dataRow.row_Header.value + '_' + index + '_' + x" 
                    app-table-row
                        [searchText]="searchText"
                        [highlightSearch]="highlightSearch"
                        [dataRow]="dataRow" 
                        [headers]="headers" 
                        [rowHeader]="dataRow.row_Header.value" 
                        [index]="index + '_' + x"
                        (onCallBack)="callBack($event)">
                </tr>
                <tr *ngIf="!dataRow" class="noResults" role="alert">
                    <td [attr.colspan]="headerLength" class="noResults">No Results Found</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<app-paging *ngIf = "paginate"
    [id]="index"
    [dataRows]="dataRows" 
    (currentPage)="passPage($event)">
</app-paging>