<legend class="ds-c-label--error">
  <span *ngIf="errorMessage" class="ds-c-field__hint ds-u-color--error">
    {{ errorMessage }}
  </span>
</legend>
<div class="ds-l-container ds-u-padding--0">
  <div class="ds-l-form-row ds-u-align-items--end">
    <div class="ds-l-col--12 ds-l-md-col date-toggle-wrapper">
      <label class="ds-c-label ds-u-font-weight--bold ds-u-margin-top--1" for="date">
        {{ calendarModel.dateLabel }}
      </label>
      <input
        [matDatepicker]="startPicker"
        class="datepicker-input ds-c-field"
        placeholder="MM/DD/YYYY"
        name="date"
        id="{{ calendarModel.id + 'Date' }}"
        (dateInput)="dateValueChanged($event)"
        attr.aria-label="{{ calendarModel.ariaLabelDate }}"
        [value]="calendarModel.date"
        [min]="calendarModel.minDate"
        [max]="calendarModel.maxDate"
      />
      <mat-datepicker-toggle matSuffix [for]="startPicker" class="date-toggle">
        <fa-icon
          [icon]="faCalendarAlt"
          class="ds-u-color--primary"
          style="font-size: 1.4rem"
          matDatepickerToggleIcon
        ></fa-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </div>
    <ng-container *ngIf="showEndDate && calendarModel.isDateRange">
      <div class="ds-l-col--12 ds-l-md-col--auto"><div class="ds-u-padding-y--1">to</div></div>
      <div class="ds-l-col--12 ds-l-md-col date-toggle-wrapper">
        <label class="ds-c-label ds-u-font-weight--bold ds-u-margin-top--1" for="endDate">
          {{ calendarModel.endDateLabel }}
        </label>
        <input
          matInput
          [matDatepicker]="endPicker"
          class="datepicker-input ds-c-field"
          placeholder="MM/DD/YYYY"
          name="endDate"
          id="{{ calendarModel.id + 'EndDate' }}"
          (dateInput)="dateValueChanged($event)"
          attr.aria-label="{{ calendarModel.ariaLabelEndDate }}"
          [value]="calendarModel.endDate"
          [min]="calendarModel.minEndDate"
          [max]="calendarModel.maxEndDate"
        />
        <mat-datepicker-toggle matSuffix [for]="endPicker" class="date-toggle">
          <fa-icon
            [icon]="faCalendarAlt"
            class="ds-u-color--primary"
            style="font-size: 1.4rem"
            matDatepickerToggleIcon
          ></fa-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </div>
    </ng-container>
  </div>
</div>
<app-choice
  *ngIf="calendarModel.isDateRange && calendarModel.isCheckBox"
  index="0"
  value="Do not include an end date"
  ariaLabel="Check the checkbox to not include an end date"
  size="small"
  [isChecked]="false"
  [showTitle]="true"
  dataAutoId="endDateChoiceID"
  (choiceChange)="handleCheckbox($event)"
>
</app-choice>
