<div class="ds-l-row ds-u-justify-content--center ds-u-align-items--center ds-u-padding--1">
    
    <div class="ds-l-lg-col--3 ds-l-md-col--3 ds-l-sm-col--12">
        <div role="button" id="CardCluster0" [ngClass]="buttonClicked === 'CardCluster0' ? 'active': null" class="ds-u-margin-bottom--2 no-Margin-Bottom pointer card ds-u-padding-top--7 ds-u-padding-bottom--7 ds-u-padding-x--1" (click)="passAction($event)">
            <div class="ds-u-font-size--title ds-u-color--black noPoint">
                {{ cardArray.mainTitle }}
            </div>
            <div class="ds-u-font-size--h1 ds-u-color--black ds-u-font-weight--bold noPoint">
                {{ total }}
            </div>
            <div class="ds-u-font-size--h3 ds-u-color--black noPoint">
                {{ cardArray.mainSub }}
            </div>
        </div>
    </div>

    <div class="ds-l-lg-col--9 ds-l-md-col--9 ds-l-sm-col--12">
        <div class="ds-l-row">
            <div *ngFor="let num of numArray; let x = index;" [ngClass]="'padding-L-0 ds-l-lg-col--' + num.sequence + ' ds-l-md-col--' + num.sequence + ' ds-l-sm-col--' + num.sequence2 + ' ds-l-col--' + num.sequence2">
                <div id="{{'CardCluster'+(x+1)}}" [ngClass]="buttonClicked === 'CardCluster'+(x+1) ? 'active': null" class="{{'pointer card cardHeight ds-u-padding--1 ds-u-margin-bottom--2 ' + num.classButton}}" (click)="passAction($event)" role="button">
                    <div class="ds-u-font-size--h1 ds-u-color--black ds-u-font-weight--bold noPoint" [ngClass]="num.classValue">
                        {{ !num.value && num.value !== 0 ? '&nbsp;' : num.value }}
                    </div>
                    <div class="ds-u-font-size--h3 ds-u-color--black noPoint" [ngClass]="num.className">
                        {{ !num.name && num.name !== 0 ? '&nbsp;' : num.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>