<!--The content below is only a placeholder and can be replaced with a for loop.-->

<div class="ds-c-tabs ds-u-padding-left--1 ds-u-sm-padding-left--2" role="tablist" aria-label="File upload tab navigation">
  <a routerLink="/ecqm" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the eCQM page" [attr.aria-selected]="rlaeCQM.isActive"
    routerLinkActive #rlaeCQM="routerLinkActive">eCQM</a>
  <a routerLink="/accuracy" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the Chart Abstracted page" [attr.aria-selected]="rlaAccuracy.isActive"
    routerLinkActive #rlaAccuracy="routerLinkActive">Chart Abstracted</a>
  <a routerLink="/outcomes" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the Measures Outcomes page" [attr.aria-selected]="rlaOutcomes.isActive"
    routerLinkActive #rlaOutcomes="routerLinkActive">Pop & Samp</a>
  <a routerLink="/accuracy" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the Data Accuracy page" [attr.aria-selected]="rlaAccuracy.isActive"
    routerLinkActive #rlaAccuracy="routerLinkActive">Claims Data</a>
  <a routerLink="/outcomes" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the Measures Outcomes page" [attr.aria-selected]="rlaOutcomes.isActive"
    routerLinkActive #rlaOutcomes="routerLinkActive">Outcomes</a>
  <a routerLink="/outcomes" class="ds-c-tabs__item" role="tab"
    aria-label="Activate enter key to go to the Measures Outcomes page" [attr.aria-selected]="rlaOutcomes.isActive"
    routerLinkActive #rlaOutcomes="routerLinkActive">Outcomes</a>
</div>
