<ng-container>
    <app-button *ngIf="header.header.el === 'sort'" 
        title="{{header.header.value}}"
        class="headerElement"
        [buttonID]="header.header.prop"
        [ariaLabel]="header.header.prop === selected ? (header.header.value + ': ' + handleDirection()) : header.header.value + ': ' + 'activate to sort'"
        [ariaSort]="header.header.prop === selected ? handleDirection() : setDefaultDirection()"
        [buttonType]="(header.header.prop === selected) ? handleDirection() + ' tableCell pointer arrow ' + 'header_'+header.header.prop : setDefaultDirection() + ' tableCell pointer arrow ' + 'header_'+header.header.prop"
        (callBack)="getHeader($event)">
        {{ header.header.abbr ? header.header.abbr : header.header.value }}
    </app-button>
    
    <div *ngIf="header.header.el === 'checkbox'" 
         class="{{'header_'+header.header.prop}} headerElement pointer" 
         title="{{header.header.value}}">
       <app-choice
            [value]="header.header.value"
            [groupName]="header.header.attr"
            [showTitle]="true"
            [labelClass]="'bold'">
        </app-choice>
    </div>
    
    <div *ngIf="header.header.el === 'default'" 
         class="{{'header_'+header.header.prop}} headerElement" 
         title="{{header.header.value}}">
        {{ header.header.abbr ? header.header.abbr : header.header.value }}
    </div>
</ng-container>