<div class="ds-c-dialog-wrap" [attr.aria-labelledby]="'dialog-title'" role="dialog" id="modalDialog" id="modal">
  <div tabindex="0" class="focus-trap-hidden" id="firstModalTab" (focus)="findTab($event)" aria-hidden="true"></div>
    <div class="tableClass">
      <div class="cellClass">
        <div class="ds-c-dialog {{modalClass}}" role="document">
          <app-button
            class="floatRight"
            (callBack)="close($event)" 
            [ariaLabel]="'Close modal dialog'" 
            [buttonType]="'modalTabIndex ds-c-button--transparent ds-c-dialog__close'" 
            [content]="'Close'"
            [buttonID]="'closeButton'">
          </app-button>
​
          <h1 class="ds-h1" id="dialog-title">{{modalTitle}}</h1>
          
          <main id="mainContent"
             role="main">
            <app-modal-body
              [modalData]="modalData">
            </app-modal-body>
            <aside class="ds-c-dialog__actions" role="complementary">
              <app-button *ngIf="actionButton"
                [modalFocus]="true"
                (callBack)="proceedModal($event)" 
                [ariaLabel]="actionButtonAria" 
                [buttonType]="'modalTabIndex ' + actionButtonClass" 
                [content]="actionButtonLabel"
                [buttonID]="actionButtonID">
              </app-button>
              <app-button
                [modalFocus]="actionButton ? false : true"
                (callBack)="close($event)" 
                [ariaLabel]="'Cancel modal'" 
                [buttonType]="'modalTabIndex ds-c-button--transparent'" 
                [content]="'Cancel'"
                [buttonID]="'cancelButton'">
              </app-button>
            </aside>
          </main>
        </div>
      </div>
    </div>
  <div tabindex="0" class="focus-trap-hidden" id="lastModalTab" (focus)="findTab($event)" aria-hidden="true"></div>
</div>