<div class="pillbox-background ds-u-radius--8 ds-u-padding-left--2 ds-u-padding-right--2">
  <div *ngIf="contentFraction !== null" class="ds-u-padding-y--1">
    <ng-template *ngTemplateOutlet="fraction; context: { $implicit: contentFraction }"></ng-template>
  </div>

  <div class="pillbox-container-first" [ngClass]="{ 'ds-u-padding-left--1': contentFraction !== null}">
    <div *ngIf="!contentFirst.bottom">
      <ng-template *ngTemplateOutlet="single; context: { $implicit: contentFirst.top }"></ng-template>
    </div>

    <div *ngIf="contentFirst.bottom" class="pillbox-column-container">
      <ng-template *ngTemplateOutlet="multiple; context: { $implicit: contentFirst }"></ng-template>
    </div>
  </div>

  <div *ngIf="contentSecond" class="pillbox-divider-container ds-u-padding-y--1">
    <div class="pillbox-divider"></div>
  </div>

  <div *ngIf="contentSecond" class="pillbox-container-second">
    <div *ngIf="!contentSecond.bottom">
      <ng-template *ngTemplateOutlet="single; context: { $implicit: contentSecond.top }"></ng-template>
    </div>

    <div *ngIf="contentSecond.bottom" class="pillbox-column-container">
      <ng-template *ngTemplateOutlet="multiple; context: { $implicit: contentSecond }"></ng-template>
    </div>
  </div>
</div>

<ng-template #item let-content>
  <div [ngClass]="content.classes" [hqrDataTest]="content.hqrDataTest">
    <div *ngIf="!content.tooltipModel && !content.innerHTML">
      {{ content.label }}
    </div>
    <div *ngIf="content.tooltipModel">
      <app-tooltip [tooltipModel]="content.tooltipModel"></app-tooltip>
    </div>
    <div *ngIf="content.innerHTML" [innerHTML]="content.innerHTML"></div>
  </div>
</ng-template>

<ng-template #single let-content>
  <div class="ds-u-padding-y--1">
    <ng-template *ngTemplateOutlet="item; context: { $implicit: content }"></ng-template>
  </div>
</ng-template>

<ng-template #multiple let-column>
  <div class="ds-u-padding-y--1 pillbox-content-multiple pillbox-column-container">
    <div class="pillbox-column-content" [ngClass]="column.top.classes" [hqrDataTest]="column.top.hqrDataTest">
      <ng-template *ngTemplateOutlet="item; context: { $implicit: column.top }"></ng-template>
    </div>

    <div class="pillbox-column-spacer"></div>

    <div class="pillbox-column-content" [ngClass]="column.bottom.classes" [hqrDataTest]="column.bottom.hqrDataTest">
      <ng-template *ngTemplateOutlet="item; context: { $implicit: column.bottom }"></ng-template>
    </div>
  </div>
</ng-template>

<ng-template #fraction let-pbFraction>
  <div class="pillbox-column-container" [hqrDataTest]="pbFraction.hqrDataTest ? pbFraction.hqrDataTest : ''">
    <div class="pillbox-column-content ds-u-font-size--base ds-u-font-weight--bold">
      {{ pbFraction.numerator | number }}
    </div>

    <div class="pillbox-column-spacer">
      <div class="pillbox-column-divider ds-u-padding-right--1"></div>
    </div>

    <div class="pillbox-column-content ds-u-font-size--base ds-u-font-weight--bold">
      {{ pbFraction.denominator | number }}
    </div>
  </div>
</ng-template>
