<div class="pillbox-background ds-u-radius--8 ds-u-padding-left--2 ds-u-padding-right--2">
  <div *ngIf="contentFraction !== null" class="ds-u-padding-y--1">
    <ng-template *ngTemplateOutlet="fraction; context: { $implicit: contentFraction }"></ng-template>
  </div>

  <div class="pillbox-container-first" [ngClass]="{ 'ds-u-padding-left--1': contentFraction !== null}">
    <div *ngIf="contentFirst.length <= 1">
      <ng-template *ngTemplateOutlet="single; context: { $implicit: contentFirst }"></ng-template>
    </div>

    <div *ngIf="contentFirst.length > 1" class="pillbox-column-container">
      <ng-template *ngTemplateOutlet="multiple; context: { $implicit: contentFirst }"></ng-template>
    </div>
  </div>

  <div *ngIf="contentSecond" class="pillbox-divider-container ds-u-padding-y--1">
    <div class="pillbox-divider"></div>
  </div>

  <div *ngIf="contentSecond" class="pillbox-container-second">
    <div *ngIf="contentSecond.length <= 1">
      <ng-template *ngTemplateOutlet="single; context: { $implicit: contentSecond }"></ng-template>
    </div>

    <div *ngIf="contentSecond.length > 1" class="pillbox-column-container">
      <ng-template *ngTemplateOutlet="multiple; context: { $implicit: contentSecond }"></ng-template>
    </div>
  </div>
</div>

<ng-template #single let-content>
  <div class="ds-u-padding-y--1">
    <div [ngClass]="content[0].classes" [hqrDataTest]="content[0].hqrDataTest">
      {{ content[0].label }}
    </div>
  </div>
</ng-template>

<ng-template #multiple let-content>
  <div class="ds-u-padding-y--1 pillbox-content-multiple pillbox-column-container">
    <div class="pillbox-column-content" [ngClass]="content[0].classes" [hqrDataTest]="content[0].hqrDataTest">
      {{ content[0].label }}
    </div>

    <div class="pillbox-column-spacer"></div>

    <div class="pillbox-column-content" [ngClass]="content[1].classes" [hqrDataTest]="content[1].hqrDataTest">
      <div *ngIf="!content[1].tooltipModel">
        {{ content[1].label }}
      </div>
      <div *ngIf="content[1].tooltipModel" [ngClass]="content[1].classes">
        <app-tooltip [tooltipModel]="content[1].tooltipModel"></app-tooltip>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fraction let-pbFraction>
  <div class="pillbox-column-container" [hqrDataTest]="pbFraction.hqrDataTest ? pbFraction.hqrDataTest : ''">
    <div class="pillbox-column-content ds-u-font-size--base ds-u-font-weight--bold">
      {{ pbFraction.numerator | number }}
    </div>

    <div class="pillbox-column-spacer">
      <div class="pillbox-column-divider ds-u-padding-right--1"></div>
    </div>

    <div class="pillbox-fraction-content pillbox-column-content ds-u-font-size--base ds-u-font-weight--bold">
      {{ pbFraction.denominator | number }}
    </div>
  </div>
</ng-template>
