<ng-template #plusIcon>
  <!-- Some padding classes are controlled in the component.ts file -->
  <div
    class="plusIcon"
    (click)="plusActionClick($event)"
    (keyup.enter)="plusActionClick($event)"
  >
    <fa-icon [icon]="icon" [class.hideIcon]="expand" [ngClass]="plusClass"> </fa-icon>
    <fa-icon [icon]="iconExpanded" [class.hideIcon]="!expand || openAll" [ngClass]="plusClass"> </fa-icon>
  </div>
</ng-template>

<ng-template #panelTitle>
  <div
    class="ds-l-row ds-u-align-items--top ds-u-margin--0 panel"
    [ngClass]="titleClass"
  >
    <!-- clickable group of possible icons and title fills most of the outmost row -->
    <div
      (click)="panelStateChange($event)"
      (keyup.enter)="panelStateChange($event)"
      tabindex="0"
      role="button"
      [attr.aria-expanded]="expand || openAll"
      attr.data-auto-id="{{ dataAutoId }}"
      class="ds-l-col pointer"
    >
      <div class="ds-l-row">
        <!-- Left Icon -->
        <div
          class="ds-l-col--auto ds-u-padding-right--0"
          [ngClass]="plusIconClass"
          *ngIf="iconPlacement === PanelIconPlacementEnum.LEFT"
        >
          <ng-container *ngTemplateOutlet="plusIcon"></ng-container>
        </div>
        <!-- Title -->
        <div class="title ds-l-col--11 ds-u-justify-content--start">
          <ng-container *ngIf="title; else titleComplex">{{
            titleExpanded && (expand || openAll) ? titleExpanded : title
          }}</ng-container>
          <!-- This 'select' means any <ng-container> between <app-panel> tags will be the Title content -->
          <ng-template #titleComplex><ng-content select="ng-container"></ng-content></ng-template>
        </div>
        <!-- Inline Icon -->
        <div *ngIf="iconPlacement === PanelIconPlacementEnum.INLINE" [ngClass]="plusIconClass">
          <ng-container *ngTemplateOutlet="plusIcon"></ng-container>
        </div>
      </div>
    </div>

    <!-- Extra title, often an app-button which contains a span, as 'select'ed below -->
    <div [ngClass]="extTitleClass" class="ds-l-col--auto">
      <div class="ds-l-row ds-u-margin-left--auto">
        <!-- Right Text / Title / Button -->
        <!-- This 'select' means any <span> between <app-panel> tags will be the Right Text -->
        <ng-content *ngIf="extTitle" select="span"></ng-content>
        <!-- Right Icon - click behavior identical to "clickable group" above -->
        <div
          *ngIf="iconPlacement === PanelIconPlacementEnum.RIGHT"
          [ngClass]="plusIconClass"
          (click)="panelStateChange($event)"
          (keyup.enter)="panelStateChange($event)"
          tabindex="0"
          role="button"
          [attr.aria-expanded]="expand || openAll"
        >
          <ng-container *ngTemplateOutlet="plusIcon"></ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Panel body / content -->
<div class="ds-l-container ds-u-margin-bottom--3 ds-u-padding--0">
  <ng-container *ngIf="titlePlacement === PanelTitlePlacementEnum.TOP">
    <ng-container *ngTemplateOutlet="panelTitle"></ng-container>
  </ng-container>

  <!-- This 'select' means any <div> between <app-panel> tags will be the panel content -->
  <div *ngIf="expand || openAll" [@fadeInTrigger]="expand" [ngClass]="expandedClass">
    <ng-content select="div"></ng-content>
  </div>

  <ng-container *ngIf="titlePlacement === PanelTitlePlacementEnum.BOTTOM">
    <ng-container *ngTemplateOutlet="panelTitle"></ng-container>
  </ng-container>
</div>
