<div class="ds-l-row ds-u-justify-content--center ds-u-align-items--center ds-u-padding--1">
    <div class="ds-l-lg-col--4 ds-l-md-col--4 ds-l-sm-col--12">
        <div class="mainGraphClass circleGraphShell" (window:load)="resize()" (window:resize)="resize()" id="strictCircleGraph" aria-label="pie chart expressing the results of errors and non error submitted, tab to hear results">
            <ngx-charts-pie-chart
                [view]="view"
                [results]="data"
                [scheme]="scheme"
                [customColors]="customColors"
                [animations]="animations"
                [labels]="labels"
                [trimLabels]="trimLabels"
                [maxLabelLength]="maxLabelLength"
                [explodeSlices]="explodeSlices"
                [doughnut]="doughnut"
                [arcWidth]="arcWidth"
                [gradient]="gradient"
                [tooltipDisabled]="tooltipDisabled"
                [labelFormatting]="labelFormat()"
                [tooltipText]="toolTipFormat()"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
                <ng-template #tooltipTemplate let-model="model">
                    <div>
                        <h1 class="ds-h6" style="margin: 2px; font-weight: normal; color: white">
                            {{model.name}}
                        </h1>
                        <h3 class="ds-h4" style="margin: 2px; font-weight: bold">
                            {{ model.value | graphToolTip}}
                        </h3>
                    </div>
                </ng-template>
            </ngx-charts-pie-chart>

            <div class="centerTextShell">
                <div id="centerText" class="centerText">
                    {{ centerNum }}
                </div>
            </div>

            <div id="subText" class="subText">
                {{ title }}
            </div>
        </div>
    </div>
            
    <div class="ds-l-lg-col--4 ds-l-md-col--4 ds-l-sm-col--12 padding-L-R">
        <div tabindex="0" role="button" id="pieGraphCard0" [ngClass]="buttonClicked === 'pieGraphCard0' ? 'active': null" class="margin-Bottom pointer card ds-u-padding-top--6 ds-u-padding-bottom--6 ds-u-padding-x--1" (click)="passAction($event)">
            <div class="ds-u-font-size--h1 ds-u-color--black ds-u-font-weight--bold noPoint">
                {{ totalValues }}
            </div>
            <div class="ds-u-font-size--h3 ds-u-color--black noPoint">
                {{ firstColumnName }}
            </div>
        </div>
    </div>

    <div class="ds-l-lg-col--4 ds-l-md-col--4 ds-l-sm-col--12">
        <div class="ds-l-row">
            <div *ngFor="let d of data; let x = index" class="ds-l-lg-col--12 ds-l-md-col--12 ds-l-sm-col--6 ds-l-col--6 padding-margin-adjust">
                <div id="{{'pieGraphCard' + (x+1)}}" [ngClass]="buttonClicked === 'pieGraphCard'+(x+1) ? 'active': null" class="cardHeight pointer card ds-u-padding--1" (click)="passAction($event)" role="button" tabindex="0">
                    <div class="ds-u-font-size--h2 ds-u-color--black ds-u-font-weight--bold noPoint">
                        {{ d.value}} 
                    </div>
                    <div class="ds-text ds-u-color--black noPoint">
                        {{ d.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>