:host ::ng-deep .tick text {
    font-size: 15px !important;
    fill: #5B616B !important;
}

.circleGraphShell {
    width: 275px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
}

.centerTextShell {
    position: relative;
}

.centerText {
    position: absolute;
    text-align: center;
    font-size: 36px;
}

.subText {
    text-align: center;
    font-size: 24px;
    margin-bottom:16px;
}

.noPoint {
    pointer-events: none;
}

.active {
    border-top: 6px solid #4C2C92 !important;
    box-shadow: 0px 4px 9px #d9d9d9 !important;
}

.card {
    border-top: 6px solid #A5E9FF;
    box-shadow: 0px 4px 6px #F1F1F1;
    transition: all 200ms cubic-bezier(.25,.8,.25,1);
}

.cardHeight {
    height: 60px;
    overflow: hidden;
}

.card:hover {
    border-top: 6px solid #00A6D2;
    box-shadow: 0px 4px 9px #d9d9d9;
}

.ds-text {
    margin-top: 0;
}

.hide {
    display: none;
}

@media only screen and (min-width: 768px) {
    
    .padding-L-R {
        padding-left: 0;
        padding-right: 0;
    }
    
    .margin-Bottom {
        margin-bottom: 0;
    }
    
    .padding-margin-adjust:first-of-type {
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .padding-margin-adjust:first-of-type {
        padding-right: 8px;
        margin-bottom: 0;
    }
    
    .padding-margin-adjust:nth-of-type(2) {
        padding-left: 8px;
    }
    
    .margin-Bottom {
        margin-bottom: 16px;
    }
}