<app-modal-shell [modalTitle]="modalTitle" [modalCount]="modalCount" [jawsBody]="true" (closeModal)="onClose()">
    <ng-container *ngFor="let data of modalData">
        <h2 *ngIf="data.heading" class="ds-h2">
            {{ data.heading }}
        </h2>
        <p *ngIf="data.paragraph" class="ds-text">
            {{ data.paragraph }}
        </p>
        <h3 *ngIf="data.heading2" class="ds-h4">
            {{ data.heading2 }}
        </h3>
        <hr *ngIf="data.hline"/>
    </ng-container>
</app-modal-shell>