<ng-container [ngSwitch]="tooltipModel.triggerType">
  <ng-container *ngSwitchCase="TooltipTriggerTypeEnum.LINK">
    <a
      [id]="tooltipModel.id"
      ngxTippy
      [tippyProps]="tippyProps"
      href="javascript:void(0)"
      class="tooltipTrigger"
      [ngClass]="tooltipModel.triggerClass"
      [attr.aria-label]="tooltipModel.ariaLabel"
    >
      <fa-icon *ngIf="tooltipModel.triggerIcon" [icon]="tooltipModel.triggerIcon"></fa-icon>
      <span *ngIf="tooltipModel.triggerContent" [innerHTML]="tooltipModel.triggerContent"></span>
      <ng-content select="[triggerContent]"></ng-content>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="TooltipTriggerTypeEnum.BUTTON">
    <app-button
      ngxTippy
      [buttonID]="tooltipModel.id"
      [tippyProps]="tippyProps"
      [buttonType]="'tooltipTrigger ' + tooltipModel.triggerClass"
      [ariaLabel]="tooltipModel.ariaLabel"
    >
      <fa-icon *ngIf="tooltipModel.triggerIcon" [icon]="tooltipModel.triggerIcon"></fa-icon>
      <span *ngIf="tooltipModel.triggerContent" [innerHTML]="tooltipModel.triggerContent"></span>
      <ng-content select="[triggerContent]"></ng-content>
    </app-button>
  </ng-container>
</ng-container>
