.button {
    color: black;
    background-color: #d3d3d3;
    border: none;
}

.tableCell {
    border: none;
    padding: 4px 0px;
    color:black;
}

.tableCell:hover {
    color: #0071bc;
}

.info {
    background-image: url(../../../assets/images/info.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left;
    background-size: 25px;
}

.footnote {
    font-weight: normal;
}