<!--
 <app-table [theme]="'previewReportTheme'" [index]="1" [tableTitle]="'Table Title'" [headers]="tableHeaderData"
    [dataRows]="tableData" [paginate]="false" [starRating]="3" [tableSummary]="'table summary'">
</app-table> 
-->




<app-line-graph
    [data]="lineData"
    [xLabel]="'Quarters'"
    [xAxis]=true>
</app-line-graph>


<!--
 <app-spinner
[dataAutoId]="1"
[hide]="false"
[inversed]="true"
[filled]="true"
[color]="'primary'"
[size]="'big'">
</app-spinner> 

 <app-alert>
    THIS IS SOME CONTENT
</app-alert>

<app-table [index]="2" [tableTitle]="'Table Title'" [headers]="tableHeaderData" [dataRows]="tableData"
    [paginate]="true" [maxRows]="4" [tableSummary]="'table summary'">
</app-table>

 <ul>
    <li *ngFor="let item of list | paginate: { itemsPerPage: 3, currentPage: p}">
        {{item}}
    </li>
</ul>
<app-paging (currentPage)="p = $event"></app-paging> 

 <app-date-picker
[label]="'this is a label'">
</app-date-picker> 


 <div class="ds-l-container">
    <app-card [data]="items"></app-card>
</div>  
-->

<!--
<div class="ds-l-container">
        <app-bar-graph
        [xAxisLabel]="'X AXIS LABEL'" 
        [yAxisLabel]="'Y AXIS LABEL'" 
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [showGridLines]="true"
        [colorScheme]="colorScheme"
        [roundDomains]="true"
        [showXAxis]="true"
        [showYAxis]="true"
        [gradient]="false"
        [roundEdges]="false"
        [id]="1"
        [title]="'National Score Comparison'"
        [compareBars]="true"
        [barPadding]="20"
        [animations]="true"
        [footnoteData]="modalData"
        [data]="chartData"> 
        </app-bar-graph>
</div>
-->

 <!-- <app-plus>
</app-plus> 

 <app-date-picker></app-date-picker> 

 <app-circle-graph
[data]="chartData">
</app-circle-graph> 

 <app-check-box></app-check-box>  

<app-alert
[heading]="'Development in Progress'"
[variation]="'warn'"
[hideIcon]="false"
[hideClose]="false">
    To ensure you get the best possible user experience this page is currently under construction. As we make updates, things may change between visits. <a href="#">Send us your feedback</a>
