<div class="ds-l-row">
  <div class="ds-l-col">
    <div>
      <span class="nav-header ds-u-font-size--h3" attr.data-auto-id="{{dataAutoId}}_header">{{data.title}}</span>
      <br>
      <span class="nav-body" attr.data-auto-id="{{dataAutoId}}_body">{{data.summary}}</span>
    </div>
  </div>
  <div class="ds-l-col--3">
    <img attr.src="{{data.svg_url}}" class="ds-l-col ds-u-padding--0 card-img" height="auto" width="auto" alt="{{desc}}" attr.data-auto-id="{{dataAutoId}}_image"/>
  </div>
</div>