<label class="ds-c-label" [ngClass]="labelClass" for="{{ id }}">
  <span class="ds-u-font-weight--bold">{{ title }}</span>
  <span *ngIf="hint" class="ds-c-field__hint" [ngClass]="hintClass" role="alert">{{ hint }}</span>
  <span *ngIf="errorMessage" class="ds-c-field__hint ds-u-color--error" role="alert">{{ errorMessage }}</span>
</label>

<ng-template [ngIf]="alertMessageList && alertMessageList?.length">
  <div class="ds-u-margin-y--2">
    <app-alert dataAutoId="{{ id + '-' + alertVariation }}" [hideClose]="true" variation="{{ alertVariation }}">
      <div *ngIf="alertMessageList.length > 1; else singleAlert">
        <div *ngFor="let alertMessage of alertMessageList">
          <li>{{ alertMessage }}</li>
        </div>
      </div>
      <ng-template #singleAlert>
        {{ alertMessageList[0] }}
      </ng-template>
    </app-alert>
  </div>
</ng-template>

<ng-container *ngIf="!multiline; else textarea">
  <input
    class="ds-c-field"
    attr.data-auto-id="{{ dataAutoId }}"
    attr.aria-label="{{ ariaLabel || title }}"
    tabindex="0"
    [ngClass]="inputClass + ' ' + (errorMessage ? 'ds-c-field--error' : '')"
    id="{{ id }}"
    name="{{ id }}"
    [type]="inputType"
    [placeholder]="placeholder || ''"
    (keyup)="callBackFunction($event)"
    (change)="callBackFunction($event)"
    value="{{ defaultValue }}"
    [disabled]="disabled"
    (blur)="blurCallBackFunction($event)"
    [attr.formControl]="control"
    [attr.formlyAttributes]="formlyAttributes"
  />
</ng-container>
<ng-template #textarea>
  <textarea
    class="ds-c-field"
    attr.data-auto-id="{{ dataAutoId }}"
    attr.aria-label="{{ ariaLabel || title }}"
    tabindex="0"
    [ngClass]="inputClass + ' ' + (errorMessage ? 'ds-c-field--error' : '')"
    id="{{ id }}"
    name="{{ id }}"
    [placeholder]="placeholder || ''"
    (keyup)="callBackFunction($event)"
    (change)="callBackFunction($event)"
    value="{{ defaultValue }}"
    [disabled]="disabled"
    rows="4"
    [attr.formControl]="control"
    [attr.formlyAttributes]="formlyAttributes"
  ></textarea>
</ng-template>
