<label
    *ngIf="labelName" [ngClass]="labelClass"
    class="ds-c-label ds-u-margin-top--0 ds-u-sans" 
    for="{{'dropdown-' + id}}">
        {{ labelName }}
    <span *ngIf="hintMessage" class="ds-c-field__hint ds-c-field__hint--inverse">{{ hintMessage }}</span>
    <span *ngIf="error" class="ds-c-field__hint ds-u-color--error" id="undefined-message" role="alert">{{ errorMessage }}</span>
</label>
<select 
        id="{{'dropdown-' + id}}" 
        class="ds-c-field {{selectClass}}"
        [ngClass]="{'ds-c-field--error': error}"
        name="options"
        (change)="selectOption($event)"
        attr.data-auto-id="{{dataAutoId}}">
    <ng-container *ngFor="let option of options; let i = index">
        <option *ngIf="i === defaultSelected || option.value === defaultSelectedValue; else notSelected" value="{{ option.value }}" selected>
            {{ option.content }}
        </option>
        <ng-template #notSelected>
            <option value="{{ option.value }}">
                {{ option.content }}
            </option>
        </ng-template>
    </ng-container>
</select>
