<label
  *ngIf="labelName"
  [id]="attr.label.id"
  [ngClass]="labelClass"
  class="ds-c-label ds-u-margin-top--0 ds-u-sans"
  [for]="attr.select.id"
>
  <span class="ds-u-font-weight--bold">{{ labelName }}</span>
  <span *ngIf="hintMessage" class="ds-c-field__hint ds-c-field__hint--inverse">{{ hintMessage }}</span>
  <span *ngIf="error" class="ds-c-field__hint ds-u-color--error" id="undefined-message" role="alert">{{
    errorMessage
  }}</span>
</label>

<ng-template [ngIf]="alertMessageList && alertMessageList?.length">
  <div class="ds-u-margin-y--2">
    <app-alert dataAutoId="{{ id + '-' + alertVariation }}" [hideClose]="true" variation="{{ alertVariation }}">
      <div *ngIf="alertMessageList.length > 1; else singleAlert">
        <div *ngFor="let alertMessage of alertMessageList">
          <li>{{ alertMessage }}</li>
        </div>
      </div>
      <ng-template #singleAlert>
        {{ alertMessageList[0] }}
      </ng-template>
    </app-alert>
  </div>
</ng-template>

<select
  id="{{ attr.select.id }}"
  role="listbox"
  class="ds-c-field {{ selectClass }} ds-u-margin-bottom--0 ds-u-display--inline-block"
  [ngClass]="{ 'ds-c-field--error': error, disabled: disabled }"
  name="options"
  attr.aria-label="{{ attr.select.ariaLabel }}"
  attr.aria-labelledby="{{ attr.select.ariaLabelledby }}"
  (change)="selectOption($event)"
  attr.data-auto-id="{{ dataAutoId }}"
  [formControl]="control"
  [formlyAttributes]="formlyAttributes"
>
  <ng-container *ngFor="let option of options; let i = index">
    <option value="{{ option.value }}" [attr.aria-selected]="option.value === control.value">
      {{ option.content }}
    </option>
  </ng-container>
</select>
