.ds-l-col {
  border: solid 1px #AEB0B5;
  border-top: 4px solid #9bdaf1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 8px;
  overflow: hidden;
  position: relative;
}






