input {
    display: inline-block;
}

.search-button {
    padding: 18px;
    background-repeat: no-repeat;
    background-position: center;
    /* border-left: 2px solid #212121; */
    background-image: url('../../../assets/images/search.svg');
    background-color: white;
    display: inline-block;
    margin-left: -40px;
    margin-bottom: -12px;
    background-size: 25px;
}

.ds-c-field {
    margin-bottom: 0;
    margin-top:5px;
    max-width: 100% !important;
}

.ds-c-label {
    margin-top: 0;
    max-width: 100% !important;
}

.white {
    color:white;
}