<div
role="button"
[id]="'card_'+id"
[attr.tabindex]="isExpanded === 'true' ? 0 : -1"
[attr.aria-hidden]="isExpanded === 'true' ? false : true"
class="container" 
[@expansionTrigger]="isExpanded === 'true' ? 'true' : 'false'">
  <div class="ds-l-row" *ngFor="let body of data.body; let i = index" [ngClass]="i % 2 === 0 && 'content-1'">
    <div class="animation" [ngClass]="isExpanded === 'false' ? 'col-1' : 'col-1 expand'">
      <span class="title ds-u-font-size--h3">
        {{body.title}}
      </span>
      <span class="subtitle">
        <div *ngIf="body.status === 'Complete'"> completed: {{body.complete}}</div>
        <div *ngIf="body.status === 'Complete'">by: {{body.by}}</div>
        <div *ngIf="body.status === 'Unavailable'">incomplete</div>
      </span>
    </div>
    <div class="col-2">
      <img *ngIf="body.status === 'Complete'" class="status-icon" src="../../../../assets/css/images/complete.svg" />
      <img *ngIf="body.status === 'Unavailable'" class="status-icon" src="../../../../assets/css/images/incomplete.svg" />
    </div>
  </div>
</div>