<main>
  <div
  [attr.aria-controls]="content"
  class="container" 
  [@expansionTrigger]="isExpanded === 'true' ? 'true' : 'false'">
    <div class="ds-l-row" *ngFor="let body of data.body; let i = index" [ngClass]="i % 2 === 0 && 'content-1'">
      <div class="content" [ngClass]="isExpanded === 'false'? 'ds-l-col--6' : 'ds-l-col--8'">
        <span class="title ds-u-font-size--h3">{{body.title}}</span>
        <br>
        <span class="subtitle">
          completed: {{body.complete}}
          <br> by: {{body.by}}
        </span>
      </div>
      <div class="ds-l-col">
        <img class="success-icon" src="../../../../assets/css/images/success.svg" />
      </div>
    </div>
  </div>
</main>