<a 
  [id]="fileUploadModel.id"
  [attr.data-auto-id]="fileUploadModel.dataAutoId"
  [attr.aria-label]="fileUploadModel.ariaLabel"
  class="file-upload-container-outer ds-u-text-decoration--none ds-u-display--flex ds-u-justify-content--center ds-u-align-items--center ds-u-color--base"
  appFileUploadDragDrop
  [fileUploadDragDropClassName]="fileUploadModel.className"
  [fileUploadDragDropClassNameActive]="fileUploadModel.classNameActive"
  (click)="fileInput.click()" href='javascript:void(0)'
  (onFileDropped)="uploadFile($event)"
  #uploadLink
>
  <div 
    class="file-upload-container-inner ds-u-margin--3 ds-u-padding--7 ds-u-display--flex ds-u-justify-content--center ds-u-align-items--center"
    [ngStyle]="{'height.px': fileUploadModel.height }"
  >
    <input id="fileInputId" hidden type="file" #fileInput (change)="uploadFile($event.target)" multiple>
    <label for="fileInputId" class="ds-u-text-align--center">
      <div class='ds-u-font-size--display ds-u-color--primary'>
        <fa-icon [icon]='fileUploadModel.icon'></fa-icon>
      </div>
      <div class='ds-u-font-size--h2 ds-u-font-weight--bold'>
        {{ fileUploadModel.label }}
      </div>
      <div class='ds-u-font-size--h2 ds-u-padding-y--1'>
        {{ fileUploadModel.orLabel }}
      </div>
      <div class='ds-u-padding-y--1'>
        <app-button
          [buttonType]='fileUploadModel.buttonType'
          [ariaLabel]='fileUploadModel.buttonAriaLabel'
          [buttonID]='fileUploadModel.id + "Button"'
        >
          <fa-icon [icon]='fileUploadModel.buttonIcon'></fa-icon>
          {{ fileUploadModel.buttonLabel }}
        </app-button>
      </div>
    </label>
  </div>
</a>
