.red {
    color:red;
}

.green {
    color:green;
}

.bold {
    font-weight: bold;
}

sup {
    color: #0071bc;
    font-size:medium;
}

.buttonCell {
    padding: 2px;
}

/*
Above add classes for all tables, below reference unique classes to modify data values
*/
:host ::ng-deep .columnCell, .columnCell {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* .stus_cd_ready {
    background-image: url(../../../assets/images/success.svg);
    background-repeat: no-repeat;
    padding: 6px 0px 6px 50px;
    background-size: 50px 50px;
    text-align: justify;
    margin-left: -10px;
} */

/* .stus_cd_waiting {
    background-image: url(../../../assets/images/processing.svg);
    background-repeat: no-repeat;
    padding: 4px 0px 4px 40px;
    background-size: 30px 30px;
    text-align: justify;
} */