

<div *ngIf="data.value.el === 'default'"
    [id]="data.value.id"
    class="{{data.key + ' ' + dataClass}}"
    [ngClass]="data.value.attr ? data.value.attr : false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
    tabindex="0"
>
    <fa-icon *ngIf="data.value.icon" [icon]="data.value.icon"></fa-icon>
    {{ tableCellText() | highlightSearch: searchText: highlightSearch }}
</div>

<div *ngIf="data.value.el === 'link'"
    [id]="data.value.id"
    class="{{data.key + ' ' + dataClass}}"
    [ngClass]="data.value.attr ? data.value.attr : false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
>   
    <a 
        [routerLink]="data.value.href"
        [attr.aria-label]="data.value.ariaLabel ? data.value.ariaLabel : tableCellText()"
    >
        <fa-icon *ngIf="data.value.icon" [icon]="data.value.icon"></fa-icon>
        {{ tableCellText() | highlightSearch: searchText: highlightSearch }}
    </a>
</div>

<div *ngIf="data.value.el === 'popover'" 
    [id]="data.value.id"
    class="{{data.key + ' ' + dataClass}}"
    [ngClass]="data.value.attr ? data.value.attr : false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
    tabindex="0"
>
    <app-popover *ngIf="data.value.popoverModel" [popoverModel] = 'data.value.popoverModel'>
        <fa-icon *ngIf="data.value.icon" [icon]="data.value.icon"></fa-icon>
    </app-popover>
</div>

<div *ngIf="data.value.el === 'tooltip'"
    [id]="data.value.id"
    class="{{data.key + ' ' + dataClass}}"
    [ngClass]="data.value.attr ? data.value.attr : false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
    tabindex="0"
>   <app-tooltip *ngIf="data.value.tooltipModel" [tooltipModel] = 'data.value.tooltipModel'>
    </app-tooltip>
    <fa-icon *ngIf="data.value.icon" [icon]="data.value.icon"></fa-icon>
</div>
<!--
<div *ngIf="data.value.el === 'checkbox'" 
     class="{{data.key + ' ' + dataClass}}"
     [ngClass]="data.value.attr ? data.value.attr : false"
     [attr.title]="!data.value.title ? data.value.value : data.value.title">
    <app-choice
        [value]="data.value.value"
        [groupName]="data.value.attr"
        [showTitle]="false"
        [index]="index">
    </app-choice>
</div>
-->

<button *ngIf="data.value.el === 'button'"
    [id]="data.value.id"
    [disabled]="data.value.disabled ? data.value.disabled: false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
    [attr.aria-label]="data.value.ariaLabel ? data.value.ariaLabel : tableCellText()"
    type="button"
    (click)="buttonCallback($event)" 
    (keyup.enter)="buttonCallback($event)" 
    class="ds-c-button pointer {{data.key + ' ' + dataClass}}"
    [ngClass]="'tableCell ' + data.value.attr + ' ' + dataClass"
>
    <fa-icon *ngIf="data.value.icon" [icon]="data.value.icon"></fa-icon>
    {{ tableCellText() | highlightSearch: searchText: highlightSearch }}
</button>
