<div *ngIf="data.value.el === 'default'" 
     class="{{data.key + ' ' + dataClass}}"
    [ngClass]="data.value.attr ? data.value.attr : false"
     [attr.title]="!data.value.title ? data.value.value : data.value.title"
     [innerHtml]="data.value.abbr ? data.value.abbr : data.value.value | highlightSearch: searchText: highlightSearch">
</div>

<div *ngIf="data.value.el === 'link'" 
     class="{{data.key + ' ' + dataClass}}"
     [ngClass]="data.value.attr ? data.value.attr : false"
     [attr.title]="!data.value.title ? data.value.value : data.value.title">
     <a [routerLink]="data.value.href" [disabled]="data.value.disabled ? data.value.disabled: false"[innerHtml]="data.value.abbr ? data.value.abbr : data.value.value | highlightSearch: searchText: highlightSearch">
    </a>
</div>

<div *ngIf="data.value.el === 'checkbox'" 
     class="{{data.key + ' ' + dataClass}}"
     [ngClass]="data.value.attr ? data.value.attr : false"
     [attr.title]="!data.value.title ? data.value.value : data.value.title">
    <app-check-box
        [value]="data.value.value"
        [groupName]="data.value.attr"
        [showTitle]="false"
        [index]="index">
    </app-check-box>
</div>


<button *ngIf="data.value.el === 'button'"
    [disabled]="data.value.disabled ? data.value.disabled: false"
    [attr.title]="!data.value.title ? data.value.value : data.value.title"
    type="button"
    (click)="buttonCallback($event)" 
    (keyup.enter)="buttonCallback($event)" 
    class="ds-c-button pointer {{data.key + ' ' + dataClass}}"
    [ngClass]="'tableCell ' + data.value.attr + ' ' + dataClass"
    [innerHtml]="data.value.abbr ? data.value.abbr : data.value.value | highlightSearch: searchText: highlightSearch">
</button>
