.mainDiv {
    padding: 20px;
}

.fixedHeight {
    height: 750px;
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ds-l-row {
    margin-left: 0;
    margin-right: 0;
}

.overflowHidden {
    overflow: hidden;
}

tbody th {
    min-width:75px;
    word-break:break-word;
}

/* You can add themes to trickle down to components, but these themes names must be placed or the styles will apply everywhere */
/*publicReportingTheme*/

.previewReportTheme thead th, .previewReportTheme tbody th{
    background-color: transparent!important;
}
.previewReportTheme tbody tr:last-of-type th, .previewReportTheme tbody tr:last-of-type td {
    border-bottom: none;
    margin-bottom: 0
}
/*publicReportingTheme*/
