<label
  *ngIf="labelName" [ngClass]="labelClass"
  class="ds-c-label ds-u-margin-top--0 ds-u-sans">
  <span class="ds-u-font-weight--bold">{{labelName}}</span>
  <span *ngIf="hintMessage" class="ds-c-field__hint ds-c-field__hint--inverse">{{ hintMessage }}</span>
  <span *ngIf="error" class="ds-c-field__hint ds-u-color--error" id="undefined-message"
        role="alert">{{ errorMessage }}</span>
</label>

<div tabindex="=0" (blur)="onTouched()" class="multiselect-dropdown ds-c-field" (clickOutside)="closeDropdown()">
  <div [class.disabled]="disabled" id="chip-container">
    <div tabindex="-1" class="dropdown-btn" (click)="toggleDropdown($event)">
      <span class="placeholder" *ngIf="selectedItems.length == 0">{{_placeholder}}</span>
      <mat-chip-list>
        <mat-chip selected color="secondary"
                  *ngFor="let item of selectedItems;trackBy: trackByFn;let k = index"
                  [hidden]="k > _settings.itemsShowLimit-1">
          <span>{{item.text}}</span>
        </mat-chip>
      </mat-chip-list>
      <div class="counter">
        <span style="padding-right: 6px;" *ngIf="itemShowRemaining()>0">+{{itemShowRemaining()}} Other</span>
        <span class="arrow"></span>
      </div>
    </div>
  </div>
  <div class="dropdown-list" [hidden]="!_settings.defaultOpen">
    <ul class="item1">
      <li (click)="toggleSelectAll()"
          *ngIf="(_data.length > 0 || _settings.allowRemoteDataSearch) && !_settings.singleSelection && _settings.enableCheckAll && _settings.limitSelection===-1"
          class="multiselect-item-checkbox" style="border-bottom: 1px solid #ccc;padding:10px">
        <input type="checkbox" aria-label="multiselect-select-all" [checked]="isAllItemsSelected()"
               [disabled]="disabled || isLimitSelectionReached()"/>
        <div>{{!isAllItemsSelected() ? _settings.selectAllText : _settings.unSelectAllText}}</div>
      </li>
      <li class="filter-textbox"
          *ngIf="(_data.length>0 || _settings.allowRemoteDataSearch) && _settings.allowSearchFilter">
        <input type="text" aria-label="multiselect-search" [readOnly]="disabled"
               [placeholder]="_settings.searchPlaceholderText" [(ngModel)]="filter.text"
               (ngModelChange)="onFilterTextChange($event)">
      </li>
    </ul>
    <ul class="item2" [style.maxHeight]="_settings.maxHeight+'px'">
      <li *ngFor="let item of _data | chipSelectFilter:filter; let i = index;" (click)="onItemClick($event,item)"
          class="multiselect-item-checkbox">
        <input type="checkbox" aria-label="multiselect-item" [checked]="isSelected(item)"
               [disabled]="disabled || (isLimitSelectionReached() && !isSelected(item)) || item.isDisabled"/>
        <div>{{item.text}}</div>
      </li>
      <li class='no-data' *ngIf="_data.length == 0 && !_settings.allowRemoteDataSearch">
        <h5>{{_settings.noDataAvailablePlaceholderText}}</h5>
      </li>
    </ul>
  </div>
</div>
