.title {
    color: #212121;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

.ds-l-col {
    display: inline-block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.footnote {
    font-size: 25px;
    color: #00A6D2;
}


.ds-l-row.values  {
    margin-right: 0;
}

.tooltip {
    padding: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.tickMarkers {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
}

:host ::ng-deep .tableCell {
    font-size: 24px !important;
}

span[id^="value_"] {
    display:none;
}

#valueContainer {
    position: relative;
}

.x-axis-label {
    text-align: center;
    margin: 40px auto 0 auto;
}

:host ::ng-deep .x.axis .tick text {
    font-size: 16px !important;
}



