<ngx-charts-chart
  [view]="[width, height]"  
  [showLegend]="false">  
  <svg:g class="bar-chart chart">    
    <svg:g 
      ngx-charts-series-vertical      
      [xScale]="xScale"      
      [yScale]="yScale"      
      [colors]="colors"      
      [series]="results"      
      [dims]="dims">   
      <svg:line
      class="xAxis"
      [attr.stroke]="'black'"
      [attr.x1]="60"
      [attr.y1]="5"
      [attr.x2]="1440"
      [attr.y2]="5" /> 
    </svg:g>
  </svg:g>
</ngx-charts-chart>
