<h2 
class="title">
    {{title}}
</h2>
<p class="sr-only">
    {{title}} bar graph image
    <ng-container *ngFor="let item of data; let i = index">
       Bar {{ i + 1 }} {{item.name}} value is {{item.value}} 
    </ng-container>
</p>
<div 
class="ds-l-row mainGraphClass" 
[id]="'barGraph_' + id"
(window:resize)="resize()" 
(window:load)="resize()">
    <ngx-charts-bar-vertical 
    [view]="view" 
    [scheme]="colorScheme" 
    [results]="data"
    [yAxis]="showYAxis"
    [xAxis]="showXAxis" 
    [showYAxisLabel]="showYAxisLabel" 
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel" 
    [animations]="animations"
    [showGridLines]="showGridLines" 
    [roundDomains]="roundDomains" 
    [gradient]="gradient" 
    [roundEdges]="roundEdges"
    [tooltipDisabled]="true"
    [customColors]="customColors"
    [barPadding]="barPadding">
        <ng-template #tooltipTemplate let-model="model">
            <div role="tooltip" class="tooltip">
               {{model.name}} : 
               {{model.value === "" ? "N/A" : model.value}}
            </div>
        </ng-template>
    </ngx-charts-bar-vertical>
</div>

<div *ngIf="showXAxis" aria-hidden="true" id="valueContainer">
    <span class="value" *ngFor="let val of data; let i = index" [id]="'value_' + i">
        <div *ngIf="val.value === ''">N/A<a class="footnote" (click)="showModal = true">*</a></div>
        <div *ngIf="val.value !== ''">{{val.value}}</div>
    </span>
    <div *ngIf="showModal" style="min-height: 450px;">
        <div class="ds-c-dialog-wrap" aria-labelledby="dialog-title" role="dialog">
            <div class="ds-c-dialog ds-c-dialog--wide" role="document">
            <header class="ds-c-dialog__header" role="banner">
                <h1 class="ds-h2" id="dialog-title">
                    Footnotes
                </h1>
                <button
                (click)="showModal = false" 
                class="ds-c-button ds-c-button--transparent ds-c-dialog__close" 
                aria-label="Close modal dialog">
                Close
                </button>
            </header>
            <main role="main">
                <p class="ds-text">
                   <strong>({{footnoteData.id}})</strong> - {{footnoteData.value}}
                </p>
            </main>
            </div>
        </div>
    </div>
</div>
<div id="nameContainer" aria-hidden="true" *ngIf="showXAxisLabel" class="x-axis-label">
    {{xAxisLabel}}
</div>
