<div class="mainGraphClass" (window:resize)="resize()" (window:load)="resize()">
    <ngx-charts-bar-vertical
        *ngIf="data"
        #target
        [xAxisTickFormatting]="axisFormat"
        [view]="view"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        [animations] = "true"
        [showGridLines] = "true"
        [roundDomains] = "true"
        [gradient] = "true"
        [legend] = "true"
        [showDataLabel] = "false"
        [roundEdges] = "true"
        [tooltipDisabled] = "false"
        [barPadding] = "20">
    </ngx-charts-bar-vertical>
</div>