.title {
    color: #0071BC;
    padding: 20px;
    text-align: center;
}

.ds-l-col {
    display: inline-block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}


.ds-l-row.values  {
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 0;
}

.gap {
    padding: 10px;
}





