.ds-l-col--6 {
  border-right: solid 1px #aeb0b5;
  border-top: solid 1px #d6d7d9;
  border-bottom: none;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #5B616B;
}

.ds-l-col {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #5B616B;
  border-top: solid 1px #d6d7d9;
}

.ds-l-col--8 {
  transition: flex 1000ms ease;
  border-right: solid 1px #aeb0b5;
  border-top: solid 1px #d6d7d9;
  border-bottom: none;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #5B616B;
}

.a {
  transition-duration: 1000ms;
}

.card-icon {
  display: block;
  margin: 0 auto;
  top: -65px;
  left: 0;
  position: relative;
}

.active {
  left: 85px;
  display: block;
  margin: 0 auto;
  top: -65px;
  position: relative;
  transform: rotate(180deg);
  transition: all 1000ms ease;
}

.footer-container {
  margin-bottom: -32px;
}



