<div class="ds-c-tabs {{ tablistClassName }}" role="tablist">
    <a
        *ngFor="let tab of tabs"
        href="javascript:void(0)"
        [id]="tab.id" 
        class="ds-c-tabs__item {{ tab.className }}" 
        [attr.aria-label]="tab.ariaLabel" 
        [attr.aria-disabled]="tab.disabled"
        [attr.aria-hidden]="tab.visible"
        [attr.aria-selected]="tab.selected"
        [attr.data-auto-id]="tab.dataAutoId"
        (click)="passAction($event)" 
        (keyup.enter)="passAction($event)" 
    >
        {{tab.title}}
    </a>
</div>