<div 
     id="{{id}}" 
     [ngClass]="buttonClicked ? 'active' : null" 
     class="pointer card cardHeight ds-l-row ds-u-align-items--start" 
     (click)="passAction($event)"  
     (keyup.enter)="passAction($event)" 
     role="button"  
     tabindex="0"
     [attr.aria-label]="ariaLabel"
     attr.data-auto-id="{{dataAutoId}}">
    <div class="ds-l-col--9 noPoint ds-u-margin-top--2 ds-u-margin-bottom--1">
        <div class="ds-u-font-size--h4 ds-u-color--black ds-u-font-weight--bold noPoint">
            {{title}}
        </div>
        <div class="ds-u-font-size--base ds-u-color--gray noPoint">
            {{description}}
        </div>
    </div>
    <div class="ds-l-col--3 noPoint ds-u-margin-top--2">
        <ng-content></ng-content>
    </div>
</div>